body {
  margin: 0;
  background: #111;
  color: #f5f5f5;
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 80px 20px;
  background: #1b1b1b;
}

h1 {
  font-size: 48px;

  background: linear-gradient(
    90deg,
    #FFD27A,
    #FFA500,
    #FF6A00
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: center;
  gap: 30px;

  padding: 60px 20px;
}

.link-window {
  width: 160px;
  aspect-ratio: 1 / 1;

  border: 1px solid #555;
  background: #181818;

  color: #f5f5f5;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.link-window:hover {
  border-color: #FFA500;
  transform: translateY(-3px);
}
.link-window-fifth {
  grid-column: 2 / 4;
  justify-self: center;
}
